[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alive-progress = "*"
setuptools = "*"
pywin32 = "*"
coloredlogs = "*"
verboselogs = "*"
httpx = "*"
rich = "*"
split-file-reader = "*"
retry = "*"

[dev-packages]

[requires]
python_version = "3.12"
